<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key><string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>icon_app_iphone_retina</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>icon_app_ipad</string>
          <string>icon_app_ipad_retina</string>
          <string>icon_app_iphone_retina</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key><string>org.geuz.${PRODUCT_NAME:rfc1034identifier}</string>
    <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
    <key>CFBundleName</key><string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>2.3.4</string>
    <key>CFBundleVersion</key><string>56</string>
    <key>CFBundleSignature</key><string>????</string>
    <key>LSRequiresIPhoneOS</key><true/>
    <key>UIFileSharingEnabled</key><true/>
    <key>LSSupportsOpeningDocumentsInPlace</key><true/>
    <key>UIMainStoryboardFile</key><string>iPhoneiPodStoryboard</string>
    <key>UIMainStoryboardFile~ipad</key><string>iPadStoryboard</string>
    <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
    <key>UIRequiresFullScreen</key><true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>opengles-1</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key><false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key><string>Zip archive</string>
        <key>CFBundleTypeRole</key><string>Editor</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.pkware.zip-archive</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <string>zip</string>
          <key>public.mime-type</key>
          <string>application/zip</string>
        </dict>
        <key>LSHandlerRank</key><string>Owner</string>
      </dict>
    </array>
  </dict>
</plist>
