<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.geuz.gmsh.nightly</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/geuzaine/src/gmsh/utils/nightly/gmsh_mac_nightly.sh</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>1</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
